
.header-top{
    background-image: url("../img/pattern.png");
    height: 150px;
    background-position: center;
    background-color:lightskyblue;
}

header img{
    height: 50%;
}

header h4{
    color: gray;
    margin: 0;
}

a{
    text-decoration: none;
    color:lightskyblue;
}

.date{
    color: gray;
}

.highlighter{
    background-color: yellow;
}

table{
    width: 100%;
    border-spacing: 0;
}

th{
    width: 25%;
    text-align: left;
}

.column-3{
    width: 50%;
    text-align: left;
}

thead tr{
    background-color: blue;
    color: white;
}

.background-tr{
    background-color: skyblue;
}